
<div class="container">
  <div class="row mt-4">
    <div class="col-12">
      <h1 class="text-center">Gestión de Productos</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-3">
      <search-products></search-products>
    </div>
    <div class="col">
      <add-products></add-products>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Listado de Productos</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table-products></table-products>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
