<h5>Añade un nuevo producto al listado</h5>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="row border border-1 p-3">
    <div class="col-8">
      <label for="name" class="form-label">Nombre:</label>
      <input id="name" type="text" class="form-control" formControlName="name">
    </div>
    <div class="col-4">
      <label for="price" class="form-label">Precio:</label>
      <input id="price" type="number" class="form-control"  formControlName="price">
    </div>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="submit" [disabled]="!productForm.valid" class="btn btn-primary">Añadir Producto</button>
    <button type="button" (click)="onReset()" class="btn btn-secondary">Borrar Campos</button>
  </div>
</form>
