<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | async; let i = index">
      <td>
        {{ i + 1 }}
      </td>
      <td>
        {{ product.name }}
      </td>
      <td>
        {{ product.price | currency: 'EUR' }}
      </td>
      <td>
        <button class="btn btn-outline-primary btn-sm ms-2 " (click)="editProduct(product)">Editar</button>
        <button class="btn btn-outline-secondary btn-sm ms-2" (click)="deleteProduct(product)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>


<edit-products
  [product]="selectedProduct"
  [isOpen]="isModalOpen"
  (save)="onSaveProduct($event)"
  (cancel)="closeModal()">
</edit-products>
